
<div class="row">
    <div class="col-xs-12">
        <h1>Book List</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <a class="list-group-item clearfix" *ngFor="let Book of bookData.bookDetails; index as i">
            <div class="pull-left">
                <h4 class="list-group-item-heading"><b>{{Book.name}}</b></h4>
                <p class="list-group-item-text">{{Book.description}}</p>
                <p class="list-group-item-text">{{Book.author}}</p>
            </div>
            <span class="pull-right">
                <button class="btn btn-danger" (click)="deleteBooks(i)">Delete</button>
                <img [src]="Book.imgPath" alt="" class="img-responsive" style="max-height: 100px;">
            </span>
        </a>
    </div>
</div>
<br>
<app-bookstore-edit></app-bookstore-edit>